<section class="section has-background-primary-light">
    <div class="container">
        <div class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Clientes</p>
                    <p class="title">{{ qtd_clientes }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Funcionários</p>
                    <p class="title">{{ qtd_funcionarios }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Serviços</p>
                    <p class="title">{{ qtd_servicos }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Produtos</p>
                    <p class="title">{{ qtd_produtos }}</p>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Agendamentos</p>
                    <p class="title">{{ qtd_atendimentos }}</p>
                </div>
            </div>
        </div>
    </div>
</section>