{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section has-background-link-light">
      <div class="container">
        <form action="" method="get">
          <div class="field is-grouped is-flex is-align-items-center is-flex-wrap-wrap">
            <label class="label p-2 mt-2">{{ form.cliente.label }}</label>
            <div class="control is-expanded">
              {{ form.cliente }}
            </div>

            <label class="label p-2 mt-2">{{ form.funcionario.label }}</label>
            <div class="control is-expanded">
              {{ form.funcionario }}
            </div>

            <label class="label p-2 mt-2">{{ form.situacao.label }}</label>
            <div class="control is-expanded">
              {{ form.situacao }}
            </div>

            <div class="control">
              <button type="submit" class="button is-link">Buscar</button>
            </div>
          </div>
        </form>
        {% if object_list %}
        <div style="text-align: center;">
          <h1 class="subtitle is-size-4">Agendamentos Cadastrados</h1>
        </div>
        <div class="table">
          <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th class="has-text-centered">Horário</th>
                <th class="has-text-centered">Cliente</th>
                <th class="has-text-centered">Funcionário</th>
                <th class="has-text-centered">Serviço</th>
                <th class="has-text-centered">Situações</th>
              </tr>
            </thead>
            <tbody>
                {% for atendimento in object_list %}
                    <tr>
                      <td>{{ atendimento.horario }}</td>
                      <td>{{ atendimento.cliente }}</td>
                      <td>{{ atendimento.funcionario }}</td>
                      <td>{{ atendimento.servico }}</td>
                      <td>{{ atendimento.get_situacao_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <h2>Não existem agendamentos cadastrados!</h2>
        {% endif %}
      </div>
    </section>
{% endblock %}