<!DOCTYPE html>
{%load static%}
<html lang="pt-br">
{%block head%}
    {%include "head.html" %}
{% endblock %}
<body>
<div class="container has-text-centered">
    <h1 class="tittle is-size-1">Sistema de Agendamento</h1>
</div>
<section class="section has-background-link-light">
    {% if object_list %}
    <div style="text-align: center;"> <h1 class="subtitle is-size-4">Clientes Cadastrados</h1></div>
    <div class="table">
        <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-centered">Nome</th>
                <th class="has-text-centered">Fone</th>
                <th class="has-text-centered">E-mail</th>
            </tr>
            </thead>
            <tbody>
                {% for cliente in object_list %}
                <tr>
                    <td> {{cliente.nome}}</td>
                    <td>{{cliente.fone}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%else%}
    <h2>Não existem clientes cadastrados!</h2>
    {% endif %}
        </section>
    </body>
</html>